// COLOR VARIABLES

// primary colors
$color-white: #fff;
$color-black: #000000;

// dark greys
$color-grey-dark-1: #333333;
$color-grey-dark-2: #585858;
$color-grey-dark-3: #868686;

// light greys
$color-grey-light-1: #eeeeee;
$color-grey-light-2: #c8c8c8;
$color-grey-light-3: #bbbbbb;


// COLOR PALETTES

// blue
$color-primary-1: #71c9ce;
$color-primary-2: #a6e3e9;
$color-primary-3: #cbf1f5;
$color-primary-4: #e3fdfd;

// green
$color-secondary-1: #28df99;
$color-secondary-2: #99f3bd;
$color-secondary-3: #d2f6c5;
$color-secondary-4: #f6f7d4;

// tertiary
$color-tertiary-1: #fff8cd;
$color-tertiary-2: #ffe05d;
$color-tertiary-3: #ff9642;

$color-delete: #ef4f4f;
$color-show: #d89216;
