<%- include('head') %>

<section class="header">
    <nav class="nav">
        <div class="nav__list">
            <svg class="nav__logo">
                <use xlink:href="/images/sprite.svg#icon-paste"></use>
            </svg>
            <ul class="nav__ul">
                <li class="nav__item"><a href="/home" class="nav__link">Home</a></li>
            </ul>
        </div>
        <div class="nav__items">
            <a href="" class="logout">
                <svg>
                    <use xlink:href="/images/sprite.svg#icon-switch"></use>
                </svg>
            </a>
            <img src="/images/home/profile.jpg" alt="">
        </div>

    </nav>
</section>
