<%- include('partials/head') %>

<section class="home">
    <nav class="navigation">
        <div class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <svg class="nav__icon">
                        <use xlink:href="images/sprite.svg#icon-home"></use>
                    </svg>
                    <a href="" class="nav__link">Home</a>
                </li>
                <div class="dropdown">
                    <button class="dropdown__btn-item">
                        <span>Manage</span>
                        <svg class="dropdown__btn-icon">
                            <use xlink:href="images/sprite.svg#icon-chevron-with-circle-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="dropdown__content">
                    <ul class="dropdown__list">
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-v-card"></use>
                            </svg>
                            <a href="#" class="dropdown__link">Accounts</a>
                        </li>
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-library"></use>
                            </svg>
                            <a href="#" class="dropdown__link">Banking</a>
                        </li>
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-credit"></use>
                            </svg>
                            <a href="#" class="dropdown__link">Bills</a>
                        </li>
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-credit-card"></use>
                            </svg>
                            <a href="#" class="dropdown__link">Cards</a>
                        </li>
                    </ul>
                </div>
                <li class="nav__item">
                    <svg class="nav__icon">
                        <use xlink:href="images/sprite.svg#icon-switch"></use>
                    </svg>
                    <a href="#" class="nav__link">Log Out</a>
                </li>
            </ul>
            <div class="nav__logo">
                <h1 class="heading__logo">Organiser</h1>
                <svg>
                    <use xlink:href="images/sprite.svg#icon-paste"></use>
                </svg>
            </div>
        </div>
    </nav>
    <section class="organiser">
        <div class="organiser__container">
            <div class="organiser__item">
                <div class="organiser__content">
                    <figure>
                        <img src="images/home/accounts.jpg" alt="">
                        <figcaption>
                            <svg>
                                <use xlink:href="images/sprite2.svg#icon-expand"></use>
                            </svg>
                            <div class="fig__content">
                                <h1>Accounts</h1>
                                <h3>Manage your accounts.</h3>
                            </div>
                            <div class="manage-btn">
                                <h3>Manage</h3>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="organiser__item">
                <div class="organiser__content">
                    <figure>
                        <img src="images/home/banking.jpg" alt="">
                        <figcaption>
                            <svg>
                                <use xlink:href="images/sprite2.svg#icon-expand"></use>
                            </svg>
                            <div class="fig__content">
                                <h1>Banking</h1>
                                <h3>Manage online banking.</h3>
                            </div>
                            <div class="manage-btn">
                                <h3>Manage</h3>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="organiser__item">
                <div class="organiser__content">
                    <figure>
                        <img src="images/home/bills.jpg" alt="">
                        <figcaption>
                            <svg>
                                <use xlink:href="images/sprite2.svg#icon-expand"></use>
                            </svg>
                            <div class="fig__content">
                                <h1>Bills</h1>
                                <h3>Manage your bills.</h3>
                            </div>
                            <div class="manage-btn">
                                <h3>Manage</h3>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="organiser__item">
                <div class="organiser__content">
                    <figure>
                        <img src="images/home/cards.jpg" alt="">
                        <figcaption>
                            <svg>
                                <use xlink:href="images/sprite2.svg#icon-expand"></use>
                            </svg>
                            <div class="fig__content">
                                <h1>Cards</h1>
                                <h3>Manage your cards.</h3>
                            </div>
                            <div class="manage-btn">
                                <h3>Manage</h3>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <div class="profile">
        <div class="profile__container">
            <div class="profile__about">
                <div class="profile__about--picture">
                    <img src="images/home/profile.jpg" alt="">
                </div>
                <h4>Hi Frank</h4>
            </div>
            <div class="profile__settings">
                <svg>
                    <use xlink:href="images/sprite2.svg#icon-settings"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

<%- include('partials/foot') %>

