<%- include('partials/head') %>

<section class="home">
    <nav class="navigation">
        <div class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <svg class="nav__icon">
                        <use xlink:href="images/sprite.svg#icon-home"></use>
                    </svg>
                    <a href="" class="nav__link">Home</a>
                </li>
                <div class="dropdown">
                    <button class="dropdown__btn-item">
                        <span>Manage</span>
                        <svg class="dropdown__btn-icon">
                            <use xlink:href="images/sprite.svg#icon-chevron-with-circle-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="dropdown__content">
                    <ul class="dropdown__list">
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-v-card"></use>
                            </svg>
                            <a href="/manage/accounts" class="dropdown__link">Accounts</a>
                        </li>
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-library"></use>
                            </svg>
                            <a href="/manage/banks" class="dropdown__link">Banking</a>
                        </li>
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-credit"></use>
                            </svg>
                            <a href="/manage/bills" class="dropdown__link">Bills</a>
                        </li>
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-credit-card"></use>
                            </svg>
                            <a href="/manage/cards" class="dropdown__link">Cards</a>
                        </li>
                    </ul>
                </div>
                <li class="nav__item">
                    <svg class="nav__icon">
                        <use xlink:href="images/sprite.svg#icon-switch"></use>
                    </svg>
                    <a href="/logout" class="nav__link">Log Out</a>
                </li>
            </ul>
            <div class="nav__logo">
                <h1 class="heading__logo">Organiser</h1>
                <svg>
                    <use xlink:href="images/sprite.svg#icon-paste"></use>
                </svg>
            </div>
        </div>
    </nav>
    <section class="organiser">
        <div class="organiser__container">
            <div class="organiser__item">
                <div class="organiser__content">
                    <figure>
                        <img src="images/home/accounts.jpg" alt="Account manager">
                        <figcaption>
                            <svg class="expand__svg">
                                <use xlink:href="images/sprite2.svg#icon-expand"></use>
                            </svg>
                            <div class="fig__content">
                                <h1 class="content__hide">Accounts</h1>
                                <div class="fig__statistics" type="accounts">
                                    <div class="stat__card">
                                        <div class="stat__header">
                                            <i class="fas fa-hashtag stat__icon"></i>
                                            <h3 class="record-number">No of Records</h3>
                                        </div>
                                        <div class="stat__content">
                                            <span type="count"></span>
                                        </div>
                                    </div>
                                    <div class="stat__card">
                                        <div class="stat__header">
                                            <i class="far fa-clock stat__icon"></i>
                                            <h3>Last entry date</h3>
                                        </div>
                                        <div class="stat__content">
                                            <span type="date"></span>
                                        </div>
                                    </div>
                                    <div class="stat__card multiple">
                                        <div class="stat__header">
                                            <i class="fas fa-power-off stat__icon"></i>
                                            <h3>Activity</h3>
                                        </div>
                                        <div class="stat__content" style="padding-top: .5rem">
                                            <span type="active" class="state">5</span>
                                            <span type="inactive" class="state">3</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="content__hide">Manage your accounts.</h3>
                            </div>
                            <a class="content__hide" href="/manage/accounts" style="color: white">
                                <div class="manage-btn">
                                    <h3>Manage</h3>
                                </div>
                            </a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="organiser__item">
                <div class="organiser__content">
                    <figure>
                        <img src="images/home/banking.jpg" alt="Bank">
                        <figcaption>
                            <svg class="expand__svg">
                                <use xlink:href="images/sprite2.svg#icon-expand"></use>
                            </svg>
                            <div class="fig__content">
                                <h1 class="content__hide">Banking</h1>
                                <div class="fig__statistics" type="banks">
                                    <div class="stat__card">
                                        <div class="stat__header">
                                            <i class="fas fa-hashtag stat__icon"></i>
                                            <h3>No of Records</h3>
                                        </div>
                                        <div class="stat__content">
                                            <span type="count"></span>
                                        </div>
                                    </div>
                                    <div class="stat__card">
                                        <div class="stat__header">
                                            <i class="far fa-clock stat__icon"></i>
                                            <h3>Last entry date</h3>
                                        </div>
                                        <div class="stat__content">
                                            <span type="date"></span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="content__hide">Manage online banking.</h3>
                            </div>
                            <a class="content__hide" href="/manage/banks" style="color: white">
                                <div class="manage-btn">
                                    <h3>Manage</h3>
                                </div>
                            </a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="organiser__item">
                <div class="organiser__content">
                    <figure>
                        <img src="images/home/bills.jpg" alt="Dollar bill">
                        <figcaption>
                            <svg class="expand__svg">
                                <use xlink:href="images/sprite2.svg#icon-expand" ></use>
                            </svg>
                            <div class="fig__content">
                                <h1 class="content__hide">Bills</h1>
                                <div class="fig__statistics" type="bills">
                                    <div class="stat__card">
                                        <div class="stat__header">
                                            <i class="fas fa-hashtag stat__icon"></i>
                                            <h3>No of Records</h3>
                                        </div>
                                        <div class="stat__content">
                                            <span type="count"></span>
                                        </div>
                                    </div>
                                    <div class="stat__card">
                                        <div class="stat__header">
                                            <i class="far fa-clock stat__icon"></i>
                                            <h3>Last entry date</h3>
                                        </div>
                                        <div class="stat__content">
                                            <span type="date"></span>
                                        </div>
                                    </div>
                                    <div class="stat__card multiple">
                                        <div class="stat__header">
                                            <i class="fas fa-calendar-alt stat__icon"></i>
                                            <h3>Next Bill</h3>
                                        </div>
                                        <div class="stat__content" style="padding-top: 1rem">
                                            <span type="creditor" style="font-size: 1.1rem">Frank Lockett</span>
                                            <span type="date" style="font-size: 1rem">12/11/10</span>
                                            <span type="amount" style="font-size: 1rem">$500</span>
                                        </div>
                                    </div>
                                    <div class="stat__card">
                                        <div class="stat__header">
                                            <i class="far fa-check-circle stat__icon"></i>
                                            <h3>Paid</h3>
                                        </div>
                                        <div class="stat__content">
                                            <span type="paid">5</span>
                                        </div>
                                    </div>
                                    <div class="stat__card">
                                        <div class="stat__header">
                                            <i class="far fa-times-circle stat__icon"></i>
                                            <h3>Unpaid</h3>
                                        </div>
                                        <div class="stat__content">
                                            <span type="unpaid">10</span>
                                        </div>
                                    </div>
                                    <div class="stat__card">
                                        <div class="stat__header">
                                            <i class="fas fa-file-invoice-dollar stat__icon"></i>
                                            <h3>Balance</h3>
                                        </div>
                                        <div class="stat__content">
                                            <span type="balance">£500</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="content__hide">Manage your bills.</h3>
                            </div>
                            <a class="content__hide" href="/manage/bills" style="color: white">
                                <div class="manage-btn">
                                    <h3>Manage</h3>
                                </div>
                            </a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="organiser__item">
                <div class="organiser__content">
                    <figure>
                        <img src="images/home/cards.jpg" alt="Cards from wallet">
                        <figcaption>
                            <svg class="expand__svg">
                                <use xlink:href="images/sprite2.svg#icon-expand"></use>
                            </svg>
                            <div class="fig__content">
                                <h1 class="content__hide">Cards</h1>
                                <div class="fig__statistics" type="cards">
                                    <div class="stat__card">
                                        <div class="stat__header">
                                            <i class="fas fa-hashtag stat__icon"></i>
                                            <h3>No of Records</h3>
                                        </div>
                                        <div class="stat__content">
                                            <span type="count"></span>
                                        </div>
                                    </div>
                                    <div class="stat__card">
                                        <div class="stat__header">
                                            <i class="far fa-clock stat__icon"></i>
                                            <h3>Last entry date</h3>
                                        </div>
                                        <div class="stat__content">
                                            <span type="date"></span>
                                        </div>
                                    </div>
                                    <div class="stat__card multiple">
                                        <div class="stat__header">
                                            <i class="fas fa-power-off stat__icon"></i>
                                            <h3>Activity</h3>
                                        </div>
                                        <div class="stat__content" style="padding-top: .5rem">
                                             <span type="active" class="state">5</span>
                                             <span type="inactive" class="state">3</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="content__hide">Manage your cards.</h3>
                            </div>
                            <a class="content__hide" href="/manage/cards" style="color: white">
                                <div class="manage-btn">
                                    <h3>Manage</h3>
                                </div>
                            </a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <div class="profile">
        <div class="profile__container">
            <div class="profile__about">
                <div class="profile__about--picture">
                    <img src="images/home/profile.jpg" alt="Profile picture">
                </div>
                <h4>Hi <%= userName %></h4>
            </div>
            <div class="profile__settings">
                <svg>
                    <use xlink:href="images/sprite2.svg#icon-settings"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

<%- include('partials/foot') %>

