<%- include('partials/head') %>

<section class="home">
    <nav class="navigation">
        <div class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <svg class="nav__icon">
                        <use xlink:href="images/sprite.svg#icon-home"></use>
                    </svg>
                    <a href="" class="nav__link">Home</a>
                </li>
                <div class="dropdown">
                    <button class="dropdown__btn-item">
                        <span>Manage</span>
                        <svg class="dropdown__btn-icon">
                            <use xlink:href="images/sprite.svg#icon-chevron-with-circle-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="dropdown__content">
                    <ul class="dropdown__list">
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-v-card"></use>
                            </svg>
                            <a href="" class="dropdown__link">Accounts</a>
                        </li>
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-library"></use>
                            </svg>
                            <a href="" class="dropdown__link">Banking</a>
                        </li>
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-credit"></use>
                            </svg>
                            <a href="" class="dropdown__link">Bills</a>
                        </li>
                        <li class="dropdown__item">
                            <svg class="dropdown__icon">
                                <use xlink:href="images/sprite.svg#icon-credit-card"></use>
                            </svg>
                            <a href="" class="dropdown__link">Cards</a>
                        </li>
                    </ul>
                </div>
                <li class="nav__item">
                    <svg class="nav__icon">
                        <use xlink:href="images/sprite.svg#icon-switch"></use>
                    </svg>
                    <a href="" class="nav__link">Log Out</a>
                </li>
            </ul>
            <div class="nav__logo">
                <h1 class="heading__logo">Organiser</h1>
                <svg>
                    <use xlink:href="images/sprite.svg#icon-paste"></use>
                </svg>
            </div>
        </div>
    </nav>
    <section class="organiser">
        <div class="organiser__container">
            <div class="organiser__item">
                <h1>Cards</h1>
                <div class="organiser__content">
                    <figure>
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </div>
            <div class="organiser__item">
                <h1>Cards</h1>
                <div class="organiser__content">
                    <figure>
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </div>
            <div class="organiser__item">
                <h1>Cards</h1>
                <div class="organiser__content">
                    <figure>
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </div>
            <div class="organiser__item">
                <h1>Cards</h1>
                <div class="organiser__content">
                    <figure>
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
</section>

<%- include('partials/foot') %>

