.dropdown__list.animated > li:nth-child(1) {
  animation: slideInLeft .3s both; }

.dropdown__list.animated > li:nth-child(2) {
  animation: slideInLeft .3s .15s both; }

.dropdown__list.animated > li:nth-child(3) {
  animation: slideInLeft .3s .3s both; }

.dropdown__list.animated > li:nth-child(4) {
  animation: slideInLeft .3s .45s both; }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

.u-margin-bottom-extra-small {
  margin-bottom: .5rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-large {
  margin-bottom: 5.5rem; }

.show {
  display: initial !important; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; }

.heading__secondary {
  color: #585858;
  font-size: 2rem;
  font-weight: 600; }

.heading__logo {
  font-family: 'Cedarville Cursive', cursive; }

/* LOGIN FORM */
.login,
.register {
  font-family: 'Martel', serif;
  font-size: .75rem; }
  .login__form form h1,
  .register__form form h1 {
    font-size: 2.5rem;
    font-weight: 200; }
  .login__form form input:not(.submit-btn),
  .register__form form input:not(.submit-btn) {
    font-family: 'Martel', serif;
    font-size: .8rem;
    font-weight: 300; }
  .login__form form label,
  .register__form form label {
    color: #585858;
    font-weight: 600; }
  .login__container,
  .register__container {
    color: #585858; }
    .login__container .sign-up span a:link, .login__container .sign-up span a:visited,
    .login__container .sign-in span a:link,
    .login__container .sign-in span a:visited,
    .register__container .sign-up span a:link,
    .register__container .sign-up span a:visited,
    .register__container .sign-in span a:link,
    .register__container .sign-in span a:visited {
      text-decoration: none; }

.submit-btn {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 500;
  text-transform: uppercase; }

/* NAVIGATION */
.navigation,
.navigation span,
.navigation a {
  color: #585858;
  font-family: 'Trirong', serif;
  font-size: 1.5rem; }

/* ORGANISER FIGCAPTION */
.organiser__content figcaption {
  color: #fff; }
  .organiser__content figcaption h1 {
    font-weight: 400; }
  .organiser__content figcaption h3 {
    font-weight: 300; }

.profile h4 {
  font-size: 1.3rem;
  color: #333333;
  font-weight: 400; }

.login,
.register {
  width: 100vw;
  min-height: 100vh; }

.login {
  background-image: linear-gradient(to right, #71c9ce, #28df99);
  position: relative; }
  .login .message {
    position: absolute;
    top: 15%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #f6f7d4;
    border-radius: 5px;
    color: #fff;
    font-size: .8rem;
    opacity: 0;
    padding: .5rem 1.5rem;
    text-transform: initial;
    transition: opacity .5s; }
    .login .message svg {
      position: absolute;
      right: .2rem;
      top: .2rem;
      cursor: pointer;
      fill: #585858;
      width: .9rem;
      height: .9rem;
      pointer-events: none; }

.register {
  background-image: linear-gradient(to right, #fff8cd, #ff9642); }

.login__container,
.register__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #f6f7d4;
  border-radius: 5px;
  box-shadow: 0 3.4px 2.7px rgba(0, 0, 0, 0.034), 0 8.7px 6.9px rgba(0, 0, 0, 0.049), 0 17.7px 14.2px rgba(0, 0, 0, 0.061), 0 36.5px 29.2px rgba(0, 0, 0, 0.076), 0 100px 80px rgba(0, 0, 0, 0.11);
  width: 20rem;
  height: 35rem;
  padding: 2rem; }
  .login__container .sign-up,
  .login__container .sign-in,
  .register__container .sign-up,
  .register__container .sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem; }
    .login__container .sign-up span:nth-child(2) a,
    .login__container .sign-in span:nth-child(2) a,
    .register__container .sign-up span:nth-child(2) a,
    .register__container .sign-in span:nth-child(2) a {
      transition: color .5s; }
      .login__container .sign-up span:nth-child(2) a:hover,
      .login__container .sign-in span:nth-child(2) a:hover,
      .register__container .sign-up span:nth-child(2) a:hover,
      .register__container .sign-in span:nth-child(2) a:hover {
        color: #71c9ce; }

.login__form,
.register__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%; }

.login .form__heading,
.register .form__heading {
  text-align: center;
  margin-bottom: 1.8rem; }

.login .form__icon,
.register .form__icon {
  fill: #585858;
  width: .9rem;
  height: .9rem; }

.login .form__group,
.register .form__group {
  position: relative; }
  .login .form__group div,
  .register .form__group div {
    display: flex;
    align-items: center;
    gap: .5rem; }
  .login .form__group input::placeholder,
  .register .form__group input::placeholder {
    transition: opacity .5s; }
  .login .form__group input:focus,
  .register .form__group input:focus {
    outline: none; }
    .login .form__group input:focus::placeholder,
    .register .form__group input:focus::placeholder {
      opacity: 0; }

.login .login__social,
.login .register__social,
.register .login__social,
.register .register__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; }
  .login .login__social .social__icons,
  .login .register__social .social__icons,
  .register .login__social .social__icons,
  .register .register__social .social__icons {
    display: flex;
    gap: 1rem; }
  .login .login__social svg,
  .login .register__social svg,
  .register .login__social svg,
  .register .register__social svg {
    cursor: pointer;
    width: 2rem;
    height: 2rem; }
    .login .login__social svg:nth-child(1),
    .login .register__social svg:nth-child(1),
    .register .login__social svg:nth-child(1),
    .register .register__social svg:nth-child(1) {
      fill: #3b5998; }
    .login .login__social svg:nth-child(2),
    .login .register__social svg:nth-child(2),
    .register .login__social svg:nth-child(2),
    .register .register__social svg:nth-child(2) {
      fill: #00acee; }
    .login .login__social svg:nth-child(3),
    .login .register__social svg:nth-child(3),
    .register .login__social svg:nth-child(3),
    .register .register__social svg:nth-child(3) {
      fill: #de5246; }

.login .form__group:not(:last-child) {
  margin-bottom: 1.5rem; }

.login .form__group div {
  border-bottom: 1px solid #bbbbbb; }

.login .form__group input[type=text],
.login .form__group input[type=password] {
  border: none;
  height: 2rem; }

.register .form__group {
  position: relative; }
  .register .form__group:not(:last-child) {
    margin-bottom: .65rem; }
  .register .form__group svg {
    position: absolute;
    left: .6rem;
    fill: #585858;
    height: 1rem;
    width: 1rem; }
  .register .form__group-password svg {
    left: .8rem; }

.register .form input:not(.submit-btn) {
  background-color: #eeeeee;
  border: 1px solid #868686;
  border-radius: 5px;
  width: 100%;
  height: 2rem;
  padding: 0 .5rem 0 2.3rem; }

.login .submit-btn,
.register .submit-btn {
  backface-visibility: hidden;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  height: 2rem;
  width: 100%;
  margin-top: 1rem;
  transition: transform .2s; }
  .login .submit-btn:hover,
  .register .submit-btn:hover {
    transform: translateY(-1px); }
  .login .submit-btn:active,
  .register .submit-btn:active {
    transform: translateY(0px); }

.login .submit-btn {
  background-image: linear-gradient(to right, #71c9ce, #28df99); }

.register .submit-btn {
  background-image: linear-gradient(to right, #ffe05d, #ff9642); }

.tooltip {
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #868686;
  border-radius: 5px;
  padding: .3rem 1rem;
  width: max-content;
  display: none !important; }
  .tooltip::after {
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    background-color: #fff;
    border: 1px solid;
    border-color: transparent #868686 #868686 transparent;
    content: "";
    width: .5rem;
    height: .5rem;
    transform: rotate(45deg); }

.profile {
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  flex-grow: 1; }
  .profile__container {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    padding: 1rem 2rem;
    gap: .8rem; }
  .profile__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem; }
    .profile__about--picture {
      clip-path: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      width: 5rem;
      height: 5rem;
      z-index: 10; }
    .profile__about img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .profile__settings {
    text-align: center; }
    .profile__settings svg {
      fill: #333333;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      transition: all .5s; }
      .profile__settings svg:hover {
        fill: #28df99;
        animation: rotate360 2s infinite; }

@keyframes rotate360 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.navigation {
  background-color: rgba(113, 201, 206, 0.1);
  border-right: 2px solid #71c9ce;
  display: inline-block;
  height: 100vh;
  width: 20rem;
  /* MAIN NAVIGATION */ }
  .navigation .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    padding: 1rem 0;
    /* NAV DROPDOWN MENU */ }
    .navigation .nav ul {
      list-style: none; }
    .navigation .nav [class$="item"] {
      display: flex;
      align-items: center;
      gap: .5rem;
      padding: .3rem 1rem;
      position: relative; }
      .navigation .nav [class$="item"]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #71c9ce;
        height: 100%;
        width: 3px;
        transform: scaleY(0);
        transition: transform .25s, width .3s .25s, color; }
      .navigation .nav [class$="item"]:hover [class$="icon"] {
        fill: #f6f7d4; }
      .navigation .nav [class$="item"]:hover span,
      .navigation .nav [class$="item"]:hover a {
        color: #f6f7d4; }
      .navigation .nav [class$="item"]:hover::before {
        transform: scaleY(1);
        width: 100%; }
    .navigation .nav a,
    .navigation .nav svg,
    .navigation .nav span {
      transition: color .3s .3s;
      z-index: 10; }
    .navigation .nav a:link,
    .navigation .nav a:visited {
      text-decoration: none; }
    .navigation .nav [class$="icon"] {
      fill: currentColor;
      width: 1.2rem;
      height: 1.2rem;
      transition: fill .3s .3s, transform .3s; }
    .navigation .nav__logo {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .navigation .nav__logo svg {
        fill: #71c9ce;
        width: 5rem;
        height: 5rem; }
    .navigation .nav .dropdown__content {
      display: none; }
    .navigation .nav .dropdown__item {
      opacity: 0; }
    .navigation .nav .dropdown.rotate svg {
      fill: #ff9642 !important;
      transform: rotate(90deg); }
    .navigation .nav .dropdown__btn-item {
      background: none;
      border: none;
      cursor: pointer;
      width: 100%; }
      .navigation .nav .dropdown__btn-item svg {
        transform: rotate(0); }
      .navigation .nav .dropdown__btn-item:focus, .navigation .nav .dropdown__btn-item:active {
        outline: none; }

.home {
  display: flex; }

.organiser__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }

.organiser__item {
  border-radius: 0 10px 10px 0;
  width: 50rem;
  height: 10rem;
  transition: width 1s; }
  .organiser__item:hover svg {
    transform: translateX(0);
    opacity: 1; }
  .organiser__item:hover figcaption {
    background-color: rgba(255, 150, 66, 0.9); }
    .organiser__item:hover figcaption .manage-btn {
      opacity: 1; }
  .organiser__item:hover .fig__content h1 {
    transform: translateY(0);
    opacity: 1; }
  .organiser__item:hover .fig__content h3 {
    transform: translateX(0);
    opacity: 1; }

.organiser__content {
  width: inherit;
  height: inherit; }
  .organiser__content figure {
    position: relative;
    width: inherit;
    height: inherit; }
    .organiser__content figure img {
      border-radius: 0 20px 20px 0;
      object-fit: cover;
      width: inherit;
      height: inherit; }
    .organiser__content figure figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0 20px 20px 0;
      background-color: rgba(255, 150, 66, 0.2);
      transition: background-color .5s; }
      .organiser__content figure figcaption svg {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        fill: #fff;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0;
        transform: translateX(170%);
        transition: all .5s; }
        .organiser__content figure figcaption svg:hover {
          fill: #a6e3e9; }
      .organiser__content figure figcaption .fig__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem 1rem;
        pointer-events: none;
        height: 100%; }
        .organiser__content figure figcaption .fig__content h1 {
          text-transform: uppercase;
          opacity: 0;
          transform: translateY(-200%);
          transition: all .2s; }
        .organiser__content figure figcaption .fig__content h3 {
          opacity: 0;
          transform: translateX(-28.5%);
          transition: all .2s .2s; }
      .organiser__content figure figcaption .manage-btn {
        position: absolute;
        right: 0;
        top: 65%;
        background-color: rgba(166, 227, 233, 0.3);
        border-bottom: 1px solid #a6e3e9;
        border-top: 1px solid #a6e3e9;
        border-left: 1px solid #a6e3e9;
        border-radius: 2px;
        cursor: pointer;
        padding: .5rem 1rem;
        opacity: 0;
        transition: opacity .5s;
        z-index: 1; }
