.dropdown__list.animated > li:nth-child(1) {
  animation: slideInLeft .3s both; }

.dropdown__list.animated > li:nth-child(2) {
  animation: slideInLeft .3s .15s both; }

.dropdown__list.animated > li:nth-child(3) {
  animation: slideInLeft .3s .3s both; }

.dropdown__list.animated > li:nth-child(4) {
  animation: slideInLeft .3s .45s both; }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes pulsateGreen {
  0% {
    background-color: rgba(40, 223, 153, 0.1); }
  50% {
    background-color: #28df99; }
  100% {
    background-color: rgba(40, 223, 153, 0.1); } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  font-family: Martel, sans-serif;
  font-weight: 300; }

.u-margin-bottom-extra-small {
  margin-bottom: .5rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-large {
  margin-bottom: 5.5rem; }

.u-margin-right-small {
  margin-right: 1.5rem; }

.show {
  display: initial !important; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; }

input {
  color: #585858;
  font-family: Martel,sans-serif; }

.heading__secondary {
  color: #585858;
  font-size: 2rem;
  font-weight: 600; }

.heading__logo {
  font-family: 'Cedarville Cursive', cursive; }

/* LOGIN FORM */
.login,
.register {
  font-family: 'Martel', serif;
  font-size: .75rem; }
  .login__form form h1,
  .register__form form h1 {
    font-size: 2.5rem;
    font-weight: 200; }
  .login__form form input:not(.submit-btn),
  .register__form form input:not(.submit-btn) {
    font-family: 'Martel', serif;
    font-size: .8rem;
    font-weight: 300; }
  .login__form form label,
  .register__form form label {
    color: #585858;
    font-weight: 600; }
  .login__container,
  .register__container {
    color: #585858; }
    .login__container .sign-up span a:link, .login__container .sign-up span a:visited,
    .login__container .sign-in span a:link,
    .login__container .sign-in span a:visited,
    .register__container .sign-up span a:link,
    .register__container .sign-up span a:visited,
    .register__container .sign-in span a:link,
    .register__container .sign-in span a:visited {
      text-decoration: none; }

.submit-btn {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 500;
  text-transform: uppercase; }

/* NAVIGATION */
.navigation,
.navigation span,
.navigation a {
  color: #585858;
  font-family: 'Trirong', serif;
  font-size: 1.5rem; }

/* ORGANISER FIGCAPTION */
.organiser__content figcaption {
  color: #fff; }
  .organiser__content figcaption h1 {
    font-weight: 400; }
  .organiser__content figcaption h3 {
    font-weight: 300; }

.profile h4 {
  font-size: 1.3rem;
  color: #333333;
  font-weight: 400; }

.login,
.register {
  width: 100vw;
  min-height: 100vh; }
  .login .message,
  .register .message {
    top: 20%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #f6f7d4;
    color: #585858; }
    .login .message svg,
    .register .message svg {
      fill: #585858; }

.login {
  background-image: linear-gradient(to right, #fff, #71c9ce);
  position: relative; }

.register {
  background-image: linear-gradient(to right, #71c9ce, #fff); }

.login__container,
.register__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #f6f7d4;
  border-radius: 5px;
  box-shadow: 0 3.4px 2.7px rgba(0, 0, 0, 0.034), 0 8.7px 6.9px rgba(0, 0, 0, 0.049), 0 17.7px 14.2px rgba(0, 0, 0, 0.061), 0 36.5px 29.2px rgba(0, 0, 0, 0.076), 0 100px 80px rgba(0, 0, 0, 0.11);
  width: 20rem;
  height: 30rem;
  padding: 2rem; }
  .login__container .sign-up,
  .login__container .sign-in,
  .register__container .sign-up,
  .register__container .sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem; }
    .login__container .sign-up span:nth-child(2) a,
    .login__container .sign-in span:nth-child(2) a,
    .register__container .sign-up span:nth-child(2) a,
    .register__container .sign-in span:nth-child(2) a {
      transition: color .5s; }
      .login__container .sign-up span:nth-child(2) a:hover,
      .login__container .sign-in span:nth-child(2) a:hover,
      .register__container .sign-up span:nth-child(2) a:hover,
      .register__container .sign-in span:nth-child(2) a:hover {
        color: #71c9ce; }

.login__form,
.register__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%; }

.login .form__heading,
.register .form__heading {
  text-align: center;
  margin-bottom: 1.8rem; }

.login .form__icon,
.register .form__icon {
  fill: #585858;
  width: .9rem;
  height: .9rem; }

.login .form__group,
.register .form__group {
  position: relative; }
  .login .form__group div,
  .register .form__group div {
    display: flex;
    align-items: center;
    gap: .5rem; }
  .login .form__group input::placeholder,
  .register .form__group input::placeholder {
    transition: opacity .5s; }
  .login .form__group input:focus,
  .register .form__group input:focus {
    outline: none; }
    .login .form__group input:focus::placeholder,
    .register .form__group input:focus::placeholder {
      opacity: 0; }

.login .login__social,
.login .register__social,
.register .login__social,
.register .register__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; }
  .login .login__social .social__icons,
  .login .register__social .social__icons,
  .register .login__social .social__icons,
  .register .register__social .social__icons {
    display: flex;
    gap: 1rem; }
  .login .login__social svg,
  .login .register__social svg,
  .register .login__social svg,
  .register .register__social svg {
    cursor: pointer;
    width: 2rem;
    height: 2rem; }
    .login .login__social svg:nth-child(1),
    .login .register__social svg:nth-child(1),
    .register .login__social svg:nth-child(1),
    .register .register__social svg:nth-child(1) {
      fill: #3b5998; }
    .login .login__social svg:nth-child(2),
    .login .register__social svg:nth-child(2),
    .register .login__social svg:nth-child(2),
    .register .register__social svg:nth-child(2) {
      fill: #00acee; }
    .login .login__social svg:nth-child(3),
    .login .register__social svg:nth-child(3),
    .register .login__social svg:nth-child(3),
    .register .register__social svg:nth-child(3) {
      fill: #de5246; }

.login .form__group:not(:last-child) {
  margin-bottom: 1.5rem; }

.login .form__group div {
  border-bottom: 1px solid #bbbbbb; }

.login .form__group input[type=text],
.login .form__group input[type=password] {
  border: none;
  height: 2rem; }

.register .form__group {
  position: relative; }
  .register .form__group:not(:last-child) {
    margin-bottom: .65rem; }
  .register .form__group svg {
    position: absolute;
    left: .6rem;
    fill: #585858;
    height: 1rem;
    width: 1rem; }
  .register .form__group-password svg {
    left: .8rem; }

.register .form input:not(.submit-btn) {
  background-color: #eeeeee;
  border: 1px solid #868686;
  border-radius: 5px;
  width: 100%;
  height: 2rem;
  padding: 0 .5rem 0 2.3rem; }

.login .submit-btn,
.register .submit-btn {
  backface-visibility: hidden;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  height: 2rem;
  width: 100%;
  margin-top: 1rem;
  transition: transform .2s; }
  .login .submit-btn:hover,
  .register .submit-btn:hover {
    transform: translateY(-1px); }
  .login .submit-btn:active,
  .register .submit-btn:active {
    transform: translateY(0px); }

.login .submit-btn {
  background-image: linear-gradient(to right, #71c9ce, #28df99); }

.register .submit-btn {
  background-image: linear-gradient(to right, #28df99, #71c9ce); }

.delete-btn {
  background-color: rgba(239, 79, 79, 0.5);
  border: 1px solid #ef4f4f;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  padding: .3rem .6rem; }
  .delete-btn:focus, .delete-btn:active {
    outline: none; }

.tooltip {
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #868686;
  border-radius: 5px;
  padding: .3rem 1rem;
  width: max-content;
  display: none !important; }
  .tooltip::after {
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    background-color: #fff;
    border: 1px solid;
    border-color: transparent #868686 #868686 transparent;
    content: "";
    width: .5rem;
    height: .5rem;
    transform: rotate(45deg); }

.profile {
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  flex-grow: 1; }
  .profile__container {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    padding: 1rem 2rem;
    gap: .8rem; }
  .profile__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem; }
    .profile__about--picture {
      clip-path: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      width: 5rem;
      height: 5rem;
      z-index: 10; }
    .profile__about img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .profile__settings {
    text-align: center; }
    .profile__settings svg {
      fill: #333333;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      transition: all .5s; }
      .profile__settings svg:hover {
        fill: #28df99;
        animation: rotate360 2s infinite; }

@keyframes rotate360 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.table {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-table;
  width: 100%; }
  .table th,
  .table td {
    position: relative;
    text-align: left;
    padding: .6rem 1.5rem; }
  .table th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #333333;
    font-weight: 600;
    word-spacing: .2rem; }
  .table td {
    color: #585858;
    font-weight: 100;
    font-size: 1rem; }
  .table__selector {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: .6rem 64px .6rem 24px; }
    .table__selector .message {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #e3fdfd;
      border: 1px solid #71c9ce;
      color: #585858;
      padding: .3rem 2rem; }
      .table__selector .message svg {
        fill: #585858; }
    .table__selector .criteria .btn {
      background-color: #28df99;
      border-radius: 7px;
      cursor: pointer;
      color: #fff;
      font-weight: 600;
      padding: .2rem 1rem; }

/* SELECTOR STYLING */
.selector select {
  background-color: rgba(238, 238, 238, 0.2);
  border: 1px solid #71c9ce;
  border-radius: 3px;
  cursor: pointer;
  color: #333333;
  font-family: Martel, sans-serif;
  font-size: .9rem;
  padding: .3rem .4rem; }
  .selector select:active, .selector select:focus {
    outline: none; }

.show {
  cursor: pointer; }
  .show__icon {
    margin-right: .3rem;
    width: 1.2rem;
    height: 1.2rem;
    transition: fill .2s ease-in-out; }
  .show p {
    display: inline-block;
    transition: all .3s; }
    .show p:after {
      background-color: currentColor;
      content: "";
      display: block;
      width: 0;
      height: 1px;
      margin-top: -3px;
      transition: width .2s .1s; }
  .show:hover .show__icon {
    fill: #d89216; }
  .show:hover p:after {
    width: 100%; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #eeeeee;
  border-radius: 5px;
  border: 1px solid #71c9ce;
  padding: 3rem 2rem;
  transition: transform .4s; }
  .modal svg {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    fill: #bbbbbb;
    width: 1.2rem;
    height: 1.2rem; }
  .modal h1 {
    color: #585858;
    text-align: center;
    font-weight: 400; }
  .modal__wrap {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s; }
  .modal__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(134, 134, 134, 0.6);
    backdrop-filter: blur(2px);
    cursor: pointer; }
  .modal .form__group {
    position: relative; }
    .modal .form__group:not(:last-child) {
      margin-bottom: .5rem; }
    .modal .form__group[name="password(s)"] svg {
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      transition: fill .1s ease-in; }
      .modal .form__group[name="password(s)"] svg:hover {
        fill: #28df99; }
  .modal .form__input {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 15rem;
    height: 2rem;
    padding: 0 .8rem; }
    .modal .form__input[name="password(s)"] {
      padding-right: 2.5rem; }
    .modal .form__input:active, .modal .form__input:focus {
      border: 1px solid #71c9ce;
      outline: none; }
    .modal .form__input::placeholder {
      color: #868686;
      font-family: Raleway, sans-serif; }
  .modal .form__select {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    color: #585858;
    font-family: Martel, sans-serif;
    margin-bottom: .5rem;
    padding: .2rem .5rem;
    width: 100%; }
    .modal .form__select:active, .modal .form__select:focus {
      outline: none; }
  .modal .submit-btn {
    background-color: #28df99;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: .4rem 2rem;
    margin-top: .5rem; }
    .modal .submit-btn:active, .modal .submit-btn:focus {
      outline: none; }

.message {
  position: absolute;
  border-radius: 5px;
  font-size: .8rem;
  opacity: 0;
  padding: .5rem 1.5rem;
  text-transform: initial;
  transition: opacity .5s;
  pointer-events: none; }
  .message svg {
    position: absolute;
    right: .2rem;
    top: .2rem;
    cursor: pointer;
    width: .9rem;
    height: .9rem;
    pointer-events: none; }

.confirmation {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s; }
  .confirmation__content {
    position: absolute;
    left: 50%;
    top: 50%;
    box-shadow: 0.5rem 0.5rem 2rem rgba(113, 201, 206, 0.3);
    border: 1px solid #71c9ce;
    background-color: #fff;
    border-radius: 2px;
    padding: 1rem 3rem 2rem;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .4s; }
  .confirmation__heading {
    color: #333333;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1.5rem; }
  .confirmation__buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem; }
    .confirmation__buttons button {
      cursor: pointer;
      color: #fff;
      padding: .5rem 2rem;
      text-transform: uppercase; }
      .confirmation__buttons button:active, .confirmation__buttons button:focus {
        outline: none; }
    .confirmation__buttons button:nth-child(1) {
      background-color: rgba(40, 223, 153, 0.8);
      border: 1px solid #28df99; }
    .confirmation__buttons button:nth-child(2) {
      background-color: rgba(239, 79, 79, 0.8);
      border: 1px solid #ef4f4f; }
  .confirmation__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(134, 134, 134, 0.6);
    backdrop-filter: blur(2px);
    cursor: pointer; }

.password .message {
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e3fdfd;
  border: 1px solid #71c9ce;
  color: #585858;
  padding: .3rem 2rem;
  z-index: 100; }

.password__mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(134, 134, 134, 0.6);
  backdrop-filter: blur(2px);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s; }

.password__container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border-radius: 5px;
  padding: 3rem;
  transform: translate(-50%, -50%) scale(0);
  transition: transform .5s; }
  .password__container svg {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    fill: #bbbbbb;
    width: 1.2rem;
    height: 1.2rem; }
  .password__container h3 {
    font-weight: 300;
    text-align: center; }
  .password__container input {
    background-color: #eeeeee;
    border: 1px solid rgba(239, 79, 79, 0.5);
    border-radius: 2px;
    padding: .2rem .7rem; }
    .password__container input:active, .password__container input:focus {
      outline: none; }

.password__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #eeeeee;
  border: 2px dashed #71c9ce;
  border-radius: 1px;
  height: 5rem; }
  .password__box p {
    color: #585858;
    opacity: 0;
    transition: opacity 1s; }

.password__show-btn {
  background-color: #28df99;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  color: #fff;
  width: 150px;
  text-align: center;
  padding: .3rem 1.5rem;
  user-select: none; }

.settings {
  z-index: 10;
  color: #333333; }
  .settings__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(134, 134, 134, 0.6);
    backdrop-filter: blur(2px);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s; }
  .settings__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .3s; }
    .settings__content svg {
      position: absolute;
      top: .5rem;
      right: .5rem;
      cursor: pointer;
      fill: #bbbbbb;
      width: 1.2rem;
      height: 1.2rem; }
  .settings__header {
    background-color: #eeeeee;
    box-shadow: 2px 3px 6px #c8c8c8;
    padding: 1.5rem 0;
    text-align: center; }
    .settings__header h1 {
      font-weight: 400; }
  .settings__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem; }
    .settings__form .form__group {
      display: flex;
      flex-direction: column;
      gap: .1rem; }
      .settings__form .form__group label {
        font-size: .9rem; }
      .settings__form .form__group input {
        border-radius: 3px;
        width: 15rem; }
      .settings__form .form__group input:not([type="file"]) {
        box-shadow: 0 3px 6px #eeeeee;
        border: 1px solid #c8c8c8;
        padding: .2rem .5rem; }
  .settings__submit-btn {
    align-self: flex-start;
    background-color: #28df99;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 6px #eeeeee;
    color: #fff;
    cursor: pointer;
    padding: .5rem 2rem;
    margin-top: .5rem; }

section.home .navigation {
  background-color: #f1f9fa;
  border-right: 2px solid #71c9ce;
  display: inline-block;
  height: 100vh;
  width: 20rem;
  z-index: 10;
  /* MAIN NAVIGATION */ }
  section.home .navigation .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    padding: 1rem 0;
    /* NAV DROPDOWN MENU */ }
    section.home .navigation .nav ul {
      list-style: none; }
    section.home .navigation .nav [class$="item"] {
      display: flex;
      align-items: center;
      gap: .5rem;
      padding: .3rem 1rem;
      position: relative; }
      section.home .navigation .nav [class$="item"]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #71c9ce;
        height: 100%;
        width: 3px;
        transform: scaleY(0);
        transition: transform .25s, width .3s .25s, color; }
      section.home .navigation .nav [class$="item"]:hover [class$="icon"] {
        fill: #f6f7d4; }
      section.home .navigation .nav [class$="item"]:hover span,
      section.home .navigation .nav [class$="item"]:hover a {
        color: #f6f7d4; }
      section.home .navigation .nav [class$="item"]:hover::before {
        transform: scaleY(1);
        width: 100%; }
    section.home .navigation .nav a,
    section.home .navigation .nav svg,
    section.home .navigation .nav span {
      transition: color .3s .3s;
      z-index: 10; }
    section.home .navigation .nav a:link,
    section.home .navigation .nav a:visited {
      text-decoration: none; }
    section.home .navigation .nav [class$="icon"] {
      fill: currentColor;
      width: 1.2rem;
      height: 1.2rem;
      transition: fill .3s .3s, transform .3s; }
    section.home .navigation .nav__logo {
      display: flex;
      flex-direction: column;
      align-items: center; }
      section.home .navigation .nav__logo svg {
        fill: #71c9ce;
        width: 5rem;
        height: 5rem; }
    section.home .navigation .nav .dropdown__content {
      display: none; }
    section.home .navigation .nav .dropdown__item {
      opacity: 0;
      cursor: pointer; }
    section.home .navigation .nav .dropdown__link {
      width: 100%; }
    section.home .navigation .nav .dropdown.rotate svg {
      fill: #ff9642 !important;
      transform: rotate(90deg); }
    section.home .navigation .nav .dropdown__btn-item {
      background: none;
      border: none;
      cursor: pointer;
      width: 100%; }
      section.home .navigation .nav .dropdown__btn-item svg {
        transform: rotate(0); }
      section.home .navigation .nav .dropdown__btn-item:focus, section.home .navigation .nav .dropdown__btn-item:active {
        outline: none; }

section.header .nav {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: #f1f9fa;
  font-size: 1.2rem;
  padding: .5rem 0; }
  section.header .nav__logo {
    fill: #71c9ce;
    width: 2rem;
    height: 2rem; }
  section.header .nav__list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-left: 1rem; }
  section.header .nav__items {
    grid-column: 8 / 10;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    grid-column-gap: 1rem; }
    section.header .nav__items img {
      border-radius: 50%;
      grid-column: 5 / 6;
      object-fit: cover;
      width: 3rem;
      height: 3rem; }
  section.header .nav__ul {
    display: flex;
    gap: 1.3rem; }
  section.header .nav__item {
    display: inherit; }
  section.header .nav__link {
    color: #333333;
    text-decoration: none; }
  section.header .nav__search {
    grid-column: 3 / 4;
    position: relative; }
    section.header .nav__search svg {
      width: .9rem;
      height: .9rem;
      position: absolute;
      left: .5rem;
      top: 50%;
      transform: translateY(-50%); }
    section.header .nav__search input {
      background-color: #c8c8c8;
      border: none;
      border-radius: 5px;
      height: 1.5rem;
      width: 15rem;
      padding: 0 2rem; }
      section.header .nav__search input::placeholder {
        font-family: Martel, sans-serif; }
      section.header .nav__search input:focus, section.header .nav__search input:active {
        outline: none; }

section.header .logout {
  grid-column: 4 / 5;
  position: relative;
  top: .2rem; }
  section.header .logout svg {
    fill: #585858;
    width: 1.5rem;
    height: 1.5rem;
    transition: all .2s; }
    section.header .logout svg:hover {
      fill: #ff9642; }

.home {
  display: flex; }

.organiser__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: 0; }

.organiser__item {
  position: absolute;
  border-radius: 0 10px 10px 0;
  width: 50rem;
  height: 10rem; }
  .organiser__item:hover .expand__svg {
    transform: translateX(0);
    opacity: 1; }
  .organiser__item:hover figcaption {
    background-color: rgba(255, 150, 66, 0.9); }
    .organiser__item:hover figcaption .manage-btn {
      opacity: 1; }
  .organiser__item:hover .fig__content h1 {
    transform: translateY(0);
    opacity: 1; }
  .organiser__item:hover .fig__content h3 {
    transform: translateX(0);
    opacity: 1; }
  .organiser__item--hovered {
    position: absolute;
    border-radius: 0 10px 10px 0;
    width: 50rem;
    height: 10rem; }

.organiser__content {
  width: inherit;
  height: inherit; }
  .organiser__content figure {
    position: relative;
    width: inherit;
    height: inherit; }
    .organiser__content figure img {
      border-radius: 0 20px 20px 0;
      object-fit: cover;
      width: inherit;
      height: inherit; }
    .organiser__content figure .fig__statistics {
      display: none;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      align-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 7rem; }
      .organiser__content figure .fig__statistics .stat__card {
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0 3.4px 2.7px rgba(0, 0, 0, 0.034), 0 8.7px 6.9px rgba(0, 0, 0, 0.049), 0 17.7px 14.2px rgba(0, 0, 0, 0.061);
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid currentColor;
        border-radius: 5px;
        opacity: 0;
        height: 250px;
        text-align: center;
        transition: opacity .3s; }
      .organiser__content figure .fig__statistics .stat__header {
        background-color: rgba(255, 255, 255, 0.3);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 15% 100%, 0 85%);
        padding: 1rem; }
      .organiser__content figure .fig__statistics .stat__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem 0;
        flex-grow: 1; }
        .organiser__content figure .fig__statistics .stat__content span {
          font-size: 2.2rem; }
          .organiser__content figure .fig__statistics .stat__content span[type='active'] {
            margin-bottom: -.5rem; }
      .organiser__content figure .fig__statistics .stat__active, .organiser__content figure .fig__statistics .stat__inactive {
        position: absolute;
        right: 32%;
        border-radius: 50%;
        width: .8rem;
        height: .8rem; }
      .organiser__content figure .fig__statistics .stat__active {
        animation: pulsateGreen 1s infinite;
        border: 1px solid #28df99;
        top: 52%; }
      .organiser__content figure .fig__statistics .stat__inactive {
        background-color: rgba(239, 79, 79, 0.8);
        border: 1px solid #ef4f4f;
        top: 73%; }
      .organiser__content figure .fig__statistics .stat__icon {
        font-size: 2rem;
        margin-bottom: .5rem; }
      .organiser__content figure .fig__statistics img {
        fill: currentColor; }
    .organiser__content figure figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0 20px 20px 0;
      transition: background-color .5s; }
      .organiser__content figure figcaption .expand__svg {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        fill: #fff;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0;
        transform: translateX(170%);
        transition: all .5s; }
        .organiser__content figure figcaption .expand__svg:hover {
          fill: #a6e3e9; }
      .organiser__content figure figcaption .fig__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem 1rem;
        pointer-events: none;
        height: 100%; }
        .organiser__content figure figcaption .fig__content h1 {
          text-transform: uppercase;
          opacity: 0;
          transform: translateY(-200%);
          transition: all .2s; }
        .organiser__content figure figcaption .fig__content h3 {
          opacity: 0;
          transform: translateX(-28.5%);
          transition: all .2s .2s; }
      .organiser__content figure figcaption .manage-btn {
        position: absolute;
        right: 0;
        bottom: 10%;
        background-color: rgba(166, 227, 233, 0.3);
        border-bottom: 1px solid #a6e3e9;
        border-top: 1px solid #a6e3e9;
        border-left: 1px solid #a6e3e9;
        border-radius: 2px;
        cursor: pointer;
        padding: .5rem 1rem;
        opacity: 0;
        transition: opacity .5s;
        z-index: 1; }
  .organiser__content--hovered figure figcaption {
    background-color: rgba(255, 150, 66, 0.9); }
    .organiser__content--hovered figure figcaption .expand__svg {
      transform: translateX(0) rotate(180deg);
      opacity: 1; }
    .organiser__content--hovered figure figcaption .manage-btn {
      opacity: 1; }
    .organiser__content--hovered figure figcaption .fig__content h1 {
      transform: translateY(0);
      opacity: 1; }
    .organiser__content--hovered figure figcaption .fig__content h3 {
      transform: translateX(0);
      opacity: 1; }
