.login,
.register {

  .submit-btn {
    backface-visibility: hidden;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 2rem;
    width: 100%;
    margin-top: 1rem;
    transition: transform .2s;

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(0px);
    }
  }

}

.login .submit-btn {
  background-image: linear-gradient(to right, $color-primary-1, $color-secondary-1);
}

.register .submit-btn {
  background-image: linear-gradient(to right, $color-tertiary-2, $color-tertiary-3);
}

.delete-btn {
  background-color: rgba($color-delete, .5);
  border: 1px solid $color-delete;
  border-radius: 2px;
  color: rgba($color-white, .9);
  cursor: pointer;
  padding: .3rem .6rem;

  &:focus,
  &:active {
    outline: none;
  }
}

