.login,
.register {
  width: 100vw;
  min-height: 100vh;

  .message {
    top: 20%;
    background-color: rgba($color-white,.2);
    border: 1px solid $color-secondary-4;
    color: $color-grey-dark-2;

    svg {
      fill: $color-grey-dark-2;
    }
  }
}

.login {
  background-image: linear-gradient(to right, $color-white, $color-primary-1);
  position: relative;

}

.register {
  background-image: linear-gradient(to right, $color-primary-1, $color-white);
}
